/* default styling */

div{
    font-family: 'robote',sans-serif;
    color: #000;
    text-align: center !important;
    /* margin:auto !important*/
    /*background-colour:White;*/
    height: 150px;
    width:150px;
}
.orange, .white, .green{
    position: relative;
    width: 800px;
    height:150px;
    top:100px;
    left: 250px;
    
}
.orange{
    
    background-color: #ffa500;
    
}
.blue{
    position: absolute;
    border: 10px solid #000080;
    left:300px;
    height: 100px;
    border-radius: 50%;
    width: 100px;
    top: 10px;
}       

.white{
    background-color: #f5f5f5;
  
    
}
.green{
    
    background-color: green;
}