.b1{
    height:200px;
    width:200px;
    background-color:black;
    margin:250px 500px 2px 500px;
    color:white;
    text-align:center;
}
.b2{
    display:grid;
    grid-template-columns:50%;
    grid-template-rows:50%;
    height:200px;
    width:200px;
    background-color:red;
    color:white;
    margin:250px 500px 250px 500px;
    text-align:center;
}
.b3{
    display:flex;
    flex-direction:column;
    flex-direction:row;
    height:200px;
    width:200px;
    background-color: blue;
    color: black;
    margin:250px 500px 2px 500px;
    text-align:center;
}
.b4{
    position:relative;
    height:200px;
    width:200px;
    background-color: blue;
    color:white;
    margin:250px 500px 2px 500px;
    text-align:center;
}
.b5{
    height:200px;
    width:200px;
    background-color:green;
    color:white;
    transform: translate(500px,250px);
    text-align:center;
}